<div class="page-header">
  <h2 class="text-center">Hello, <%= name %>! Welcome to Twitterwhack</h2>
</div>

<div class="well">
  <h4>Instructions:</h4>
  <p>
    Enter two words into the form, and hit 'submit'. We will run our unique Twitterwhack algorithm on your phrase<br>
    and present you with the results!
  </p>
</div>
<form class="input-group" style="margin: 0 auto" action="/results" method="POST">
  <input class="form-control" style="width: 50%" type="text" name="first" placeholder="First word">
  <input class="form-control" style="width: 50%" type="text" name="second" placeholder="Second word">
  <input class="btn btn-default form-control" type="submit">
</form>