<html>

<head>
  <title>Twitterwhack</title>
  <style>
    form {
      margin: 0 auto;
      padding: 1em;
      border: 1px solid #CCC;
      border-radius: 1em;
    }

    input {
      font: 1em sans-serif;
      border: 1px solid #999;
    }

    input:focus {
      border-color: #000;
    }
  </style>
</head>

<body>
<h2>Hello, <%= name %>! Welcome to Twitterwhack</h2>

<h4>Instructions:</h4>
<p>
  Enter two words into the form, and hit 'submit'. We will run our unique Twitterwhack algorithm on your phrase<br>
  and present you with your results!
</p>

<form action="/calculate/whack" method="POST">
  First word: <input type="text" name="first">
  Second word: <input type="text" name="second">
  <input type="text" name="name" hidden="true" value="<%= name %>">
  <input type="submit">
</form>
</body>

</html>