<html>
<head>
  <title>Twitterwhack</title>
  <style>
    form {
      margin: 0 auto;
      padding: 1em;
      border: 1px solid #CCC;
      border-radius: 1em;
    }

    input {
      font: 1em sans-serif;
      border: 1px solid #999;
    }

    input:focus {
      border-color: #000;
    }
  </style>
</head>

<body>
<div class="input-group">
  <form action="/form" method="POST">
    What is your name? <input type="text" name="name">
    <br>
    <input type="submit">
  </form>
</div>
</body>
</html>